<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="images/jpg" href="./images/favicon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">-->
    <title>Advanced Low dimensional Materials Lab </title>
    <!--     <title> 南方科技大学</title>-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="/css/mcommon.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <script src="/js/jquery.min.js"></script>
</head>

<body style="">
<div class="header">
    <h5 th:text="${userInfoBean.getRealName()}">
    </h5>
    <a href="/mIndex?id=404">Logout</a>
</div>
<div class="nav-wrapper">
    <div class="nav">
        <div class="pc-nav">
            <ul>
                <li class="">
                    <a href="/mIndex?id=0">Home</a>
                </li>

                <li class="">

                    <a href="/mIndex?id=1">UserInfo</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-element">
                            <a href="/mIndex?id=1">Account List</a>
                        </li>
                        <li class="dropdown-element">
                            <a href="/mIndex?id=12">Create Account</a>
                        </li>

                    </ul>
                </li>

                <li class="">
                    <a href="/mIndex?id=2">Pictures</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-element">
                            <a href="/mIndex?id=2">Pictures List</a>
                        </li>
                        <li class="dropdown-element">
                            <a href="/mIndex?id=22">Add Pictures</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/mIndex?id=3">Publication</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-element">
                            <a href="/mIndex?id=3">Publication List</a>
                        </li>
                        <li class="dropdown-element">
                            <a href="/mIndex?id=32">Add Publication</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/mIndex?id=4">Banner</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-element">
                            <a href="/mIndex?id=4">Banner List</a>
                        </li>
                        <li class="dropdown-element">
                            <a href="/mIndex?id=42">Add Banner</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/mIndex?id=5">News</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-element">
                            <a href="/mIndex?id=5">News List</a>
                        </li>
                        <li class="dropdown-element">
                            <a href="/mIndex?id=52">Add News</a>
                        </li>
                    </ul>
                </li>
                <!--<li class="">-->
                <!--<a href="/mIndex?id=2">Alumni</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>

<div class="main-wrap">
    <ul>
        <li>
            <p>
            </p>
        </li>
    </ul>

</div>



</body>
</html>